
  #row{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 90%;
  margin: 1rem auto;
    padding-top: 5rem;
    height: 100vh;
    padding-bottom: 20rem;
  

}

.column-landing{
    
  background-color: none;
    text-align: center;
}

.miniProfile{
  background-color: white;
  margin: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 1rem;

}
.miniProfile h2{
  margin: 1rem;

  margin-top: 1rem;
  padding-top: 2rem;
}
.prof-link{
  color: #284f6f;
  text-decoration: underline;
  font-weight: 500;
}
#prof-data{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  margin: 1rem auto;
 
}
#prof-data h6{
 font-weight: 500;
}
#prof-data p{
  color: #284f6f;
}
.member{
  margin-top: 3rem;
  background-color: #F2C106;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  padding: 2px;
  margin-bottom: -1rem;
  font-size: 10px;
}
.reqBox{
  background-color: white;
  border-radius: 0.5rem;
  width: 50%;
  margin: 1rem auto;
  padding: 0.7rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.reqtruck{
  height: 25px;
  
 
  margin: 0.5rem auto;
  
}
.reqinp{
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  background-color: #F4F1E6;
  margin-left: 2rem;
}
#req-div{
  display: grid;
  grid-template-columns: 20% 80%;
  width: 90%;
  margin: 0.2rem auto;

}

.liverfq{
 background-color: #F2C106;
 border-radius: 1rem;
 padding: 1rem; 
 width: 70%;
 margin: 1rem auto;
}
.liverfq h3 span{
  color:#284f6f;
}

.list-rfq{
  margin: 1rem;
  background-color: #D1A80B;
  box-shadow: #F2C106 3px 3px 6px 0px inset, rgba(184, 187, 5, 0.5) -3px -3px 6px 1px inset;
  padding: 2rem 0.5rem;

}
.feed{
  background-color: #929292A6;
  margin: 2rem 1rem;
  width: 70%;
  border-radius: 1rem;
  color: white;
  margin: 1rem auto;
  min-height: 20vh;
}

.util{
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  width: 70%;
  margin: 1rem auto;
  padding:1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bt-util{
  display: block;
  margin: 1rem auto;
  background-color: #F2C106;
  border-radius: 0.7rem;
  border:none ;
width: 60%;
  
  padding: 0.5rem 0.7rem;
  font-weight:400;
text-align: center;

}
.bt-util:hover span{
  display: none;
}
.bt-util:hover::before{
  content: "Coming Soon!";
}
.bt-util:hover{
  background-color: #0880A6;
color: white;
transition: all 0.2s ease-in-out;
}
.bt-data{
  display: block;
  margin: 1rem auto;
  background-color: #F2C106;
  border-radius: 0.7rem;
  border:none ;
width: 60%;
  
  padding: 0.5rem 0.7rem;
  font-weight:400;
text-align: center;
}

.data{
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  width: 70%;
  margin: 1rem auto;
  padding:1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.sub-btn{
  background-color: #F2C106;

  text-decoration: none;
  color: black;
  border: none;
  border-radius: 0.5rem;
 width: fit-content;
 height: fit-content;
 padding: 1rem;
 margin: 1rem auto;
 



}

.pop-form{
  padding: 1rem;

}
.pop-form input{
  margin: 2rem auto;
}

#row-pop{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
}
#row-pop-inner{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 100%;
}
.ico-pop{
  font-size: 80px;
  margin: 0.5rem auto;
  color: #284f6f;
}
.last-upld{
  margin: 1rem ;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #284f6f;
}
.btn-rfrsh{
  margin: 1rem;
}
.ico-dwnld{
  margin: 0.5rem;
}
#file-inp-kg{
  width: 100%;
 margin: auto;
 background-color: rgb(241, 241, 241);
 margin-left: 2.5%;
 
}
#file-inp-tonne{
  width: 100%;
 margin: auto;
 background-color: rgb(241, 241, 241);
 margin-left: 2.5%;
 }

#file-inp-lanes{
  width: 100%;
 margin: auto;
 background-color: rgb(241, 241, 241);
 margin-left: 2.5%;
 
}
.sub-btn:hover{
  background-color: #0880A6;
color: white;
transition: all 0.2s ease-in-out;
}