

.form-parent{
    width: 50%;
    align-content: center;
    margin: 3rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
}

.form-parent h2{
    text-align: center;
    padding: 0.5rem;
}
.log-form input{
    background-color: #E5E5E5;
    width: 80%;
    margin: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    
}
.log-form{
    width: 70%;
    margin: 1rem auto;
   padding: 1rem;
    
}

.form-parent label{
    text-align: left;
    margin-left: 0.5rem;
}
.sub-button{
    background-color: #F2C106;
    border-radius: 0.7rem;
    border:none ;
  
    margin: 1rem auto;
    padding: 0.5rem 0.7rem;
    font-weight:400;
  text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .reset-parent{
    padding: 1rem;

  }
  .reset{
      margin: 1rem 0.5rem;
  }

